
<h1>El nombre del cocinero es @ViewBag.nombre</h1>
<h1>Su edad es @ViewBag.edad</h1>
<h1>El plato que le sugerimos es @ViewBag.plato</h1>
<h1>EL tiempo estimado de preparación es de @ViewBag.tiempo minutos</h1>
<h1>La dificultad del plato es @ViewBag.dificultad</h1>